html, body {
  margin: 0;
  padding: 0;
}


body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


canvas {
  display: block;
}

#p5-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#canvas-wrapper {
  width: 100%;
  max-width: 1200px; /* keeps very large screens readable */
}
